<h1>Lista de alumnos</h1>
<div class="container">
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
                <th>Carrera</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let al of alumnos">
                <td>{{al.codigo}}</td>
                <td>{{al.nombre}}</td>
                <td>{{al.apellido}}</td>
                <td>{{al.edad}}</td>
                <td>{{al.carrera}}</td>
            </tr>
        </tbody>
      </table>
</div>