<header>
    <div class="container">
        <div class="row">
            <div id="col1" class="col">
                <i class="bi bi-globe-americas me-2"></i>
                <span>Servicios</span>
            </div>
            <div id="col2" class="col">
                <i class="bi bi-person-fill me-2"></i>
                <span>SIGU</span>
            </div>
            <div id="col3" class="col">
                <i class="bi bi-tablet me-2"></i>
                <span>AULA Virtual</span>
            </div>
            <div id="col4" class="col">
                <i class="bi bi-file-earmark-text me-2"></i>
                <span>Mesa de partes</span>
            </div>
            <div id="col5" class="col">
                <i class="bi bi-envelope me-2"></i>
                <span>Mail</span>
            </div>
            <div id="col6" class="col">
                <i class="bi bi-person-fill me-2"></i>
                <span>Comité Electoral</span>
            </div>
            <div id="col7" class="col">
                <i class="bi bi-person-fill me-2"></i>
                <span>Bolsa de trabajo</span>
            </div>
            <div id="col8" class="col">
                <img src="https://www.untels.edu.pe/images/logoPortalTransparencia.png" alt="logoPortalTransparencia"
                    width="80px">
            </div>
        </div>
    </div>
</header>
<nav>
    <div class="container-fluid">
        <div class="row">
            <div class="clogo">
                <img src="https://www.untels.edu.pe/images/logo.png" alt="logochuntels" width="250px">
            </div>
            <div class="coption cs">Nosotros</div>
            <div class="coption cm">Vicepresidencia <br>de Investigación</div>
            <div class="coption cs">Admisión</div>
            <div class="coption cs">Pregrado</div>
            <div class="coption cs">Posgrado</div>
            <div class="coption cm">Gestión de la calidad</div>
            <div class="coption cs ms-4 me-4">Transparencia</div>
        </div>
    </div>
</nav>
<section>
    <div class="container">
        <div class="row">
            <div id="col1" class="col">
                <span>SECTION</span>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div id="col1" class="col">
                <span>FOOTER</span>
            </div>
        </div>
    </div>
</footer>

<router-outlet></router-outlet>